<h1>Listing tagged_files</h1>

<table>
  <tr>
    <th>File name</th>
    <th>Tag</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tagged_files.each do |tagged_file| %>
  <tr>
    <td><%= tagged_file.file_name %></td>
    <td><%= tagged_file.tag %></td>
    <td><%= link_to 'Show', tagged_file %></td>
    <td><%= link_to 'Edit', edit_tagged_file_path(tagged_file) %></td>
    <td><%= link_to 'Destroy', tagged_file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tagged file', new_tagged_file_path %>
