<h1>New tagged_file</h1>

<% # エラーの表示 %>
<% if @tagged_file.errors.any? %>
  <ul>
    <% @tagged_file.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<% # top/indexから"add tag"で飛んできた時は、そのfile_nameのタグを作成する %>
<% @tagged_file.file_name = params[:file_name] %>

<%= form_for(@tagged_file) do |form|%>
  <div class="field">
    <%= form.label :file_name %>
    <%= form.text_field :file_name ,:readonly => true%>

    <%= form.label :tag %>
    <%= form.text_field :tag %>

    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', tagged_files_path %>
