<h1>rails finder</h1>

<%= form_tag top_index_path, {:method => "get"} do %> 
  <% # 検索の種類のラジオボタン %>
  <%= radio_button 'radio_param', 'search_type', 'file',{:checked => true}%> ファイル名検索
  <%= radio_button 'radio_param', 'search_type', 'tag'%> タグ検索

  <% # 検索フォーム %>
  <%= text_field_tag :keyword %>
  <%= submit_tag "search" %>
<% end %>



<table border="2">
<% @files.each do |file|%>
<tr>
  <td><%= link_to file,"#{root_url}/public/resources/#{file}"%></td>
  <td><%= @tags[file].join(" ") %></td>
  <td><%= link_to "add tag", new_tagged_file_path(file_name: file)%></td>
</tr>
<%end%>
