<h1>rails finder</h1>

<%= form_tag top_index_path, {:method => "get"} do %> 
  <% # 検索の種類のラジオボタン %>
  <%= radio_button 'radio_param', 'search_type', 'file',
    {checked: (params[:radio_param].nil? || params[:radio_param][:search_type] == 'file')} %> ファイル名検索
  <%= radio_button 'radio_param', 'search_type', 'tag',
    {checked: !params[:radio_param].nil? && params[:radio_param][:search_type] == 'tag'} %> タグ検索

  <% # 検索フォーム %>
  <%= text_field_tag :keywords,params[:keywords] %>
  <%= submit_tag 'search' %>
<% end %>


<% # 表示テーブル %>
<table border="2">
  <tr>
    <td bgcolor="#b0c4de">FileName</td>
    <td bgcolor="#b0c4de">tag</td>
    <td bgcolor="#b0c4de">Add</td>
  </tr>
  <% @files.each do |file|%>
    <tr>
      <td><%= link_to file,"#{root_url}/public/resources/#{ERB::Util::url_encode(file)}"%></td>
      <td>
        <% @tags[file].each do |tag| %>
          <%= link_to tag, top_index_path(keywords: tag,radio_param: {search_type: 'tag'})%>
          <%= " " %>
        <% end %>
      </td>
      <td><%= link_to '+', new_tagged_file_path(file_name: file)%></td>
    </tr>
  <% end %>
</table>

<%= link_to '戻る', :back %>
<%= link_to 'TOP', top_index_path %>
